<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
    </style>
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/create.css">
</head>

<body>
    <div class="nav">
        <div class="txt">
            Personal dairy

        </div>

        <div class="tags">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/record">Records</a>
            
        </div>
    </div>

    <div class="heading">
        <h1> Create New story ☺</h1>
    </div>


    <div class="create">
        <form action="/created" method="post">

            <textarea rows=" 15" cols="100" name="textarea" placeholder="start writing......:)"
                class="textarea"></textarea>
            <div class="btn"><a href="/create"><button> Create Story</button></a>

            </div>
        </form>



    </div>

    </div>

</body>

</html>