<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
    </style>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <div class="main">
        <div class="nav">
            <div class="txt">
                Personal dairy

            </div>

            <div class="tags">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/records">Records</a>
              
            </div>
        </div>

        <div class="hero">
            <div class="heromain">
                <h1> welcome Champion :) </h1>
                <p>How was the day🙃</p>
            </div>
        </div>

        <div class="btn"><a href="/create"><button> Create Story</button></a>
            
        </div>
    </div>



    <script src="../js/script.js"></script>
</body>

</html>