<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
    </style>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/record.css">
</head>

<body>
    <div class="nav">
        <div class="txt">
            Personal dairy

        </div>

        <div class="tags">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/record">Records</a>
    
        </div>
    </div>

    <div class="heading">
        <h1> Previous Records</h1>
    </div>

    <% if (files && files.length> 0) { %>
        <% files.forEach(function(file) { %>
            <div class="records">
                <span class="first">
                    <p><%= file.split(".")[0] %></p>
                    <i class="ri-arrow-right-circle-fill"></i>
                </span>
                <span class="second">
                    <i class="ri-edit-line"></i>
                    <i class="ri-delete-bin-6-line"></i>
                </span>
            </div>
            <% }) %>
                <% } else { %>
                    <p class="massage">No records found.</p>
                    <% } %>


</body>

</html>